{{>header}}
<link rel="stylesheet" href="{{URL}}/assets/css/favoristyle.css">

<main>
  <section class="container">
    <article class="musee">
      <figure>
          <figcaption class="col-xs-12 col-md-6">
            <a href="museefav.php">
            <img src="{{image}}" alt="musée du louvre">
            <p>{{nom_musee}}</p></a>
          </figcaption>
          <figcaption class="col-xs-12 col-md-6">
            <a href="museefav.php">
            <img src="{{image}}" alt="musée du louvre">
            <p>{{nom_musee}}</p></a>
          </figcaption>
      </figure>
    </article>
  </section>
</main>
