<header>
    <!-- BURGER -->
    <!-- Navigation -->
    <div>
        <div class="b-nav">

            <li class="burger-choices1">
                <a class="b-link" href="favoris.php">
                    <center class="burger-font">Favoris</center>
                </a>
            </li>
            <li class="burger-choices2">
                <a class="b-link" href="contact.php">
                    <center class="burger-font">Contactez nous</center>
                </a>
            </li>
            <li class="burger-choices3">
                <a class="b-link" href="apropos.php">
                    <center class="burger-font">A propos</center>
                </a>
            </li>
        </div>

        <!-- Burger-Icon -->

        <div class="b-container">
            <div class="b-menu">
                <div class="b-bun b-bun--top"></div>
                <div class="b-bun b-bun--mid"></div>
                <div class="b-bun b-bun--bottom"></div>
            </div>
        </div>

        <script src="assets/js/toggle.js"></script>

        <!-- END OF BURGER -->

        <a href="index.php">
            <img src="assets/img/logoDART.svg" class="site-title" alt="Logo du site Date' Art">
        </a>


    </div>

</header>
