  {{>header}}
      <main class="container">
    {{>museelike}}

  </main>

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
$(document).ready(function(){
  $(".button2").on('click',function(){
    console.log('coucou');
    var id = $(this).data('id');
      $.ajax({
        method: "POST",
        url: "{{URL}}like/"+id+"/",
        success: function(result){
          var result = JSON.parse(result);
          $('main').empty();
          $('main').html(result);
      }});
  });
  $(".button1").on('click',function(){
    var id = $(this).data('id');
      $.ajax({
        method: "POST",
        url: "{{URL}}dislike/"+id+"/",
        success: function(result){
          console.log('bjr');
      }});
  });
});
</script>
