<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <section class="row">
                <div class="thumbnail">
                    <img src="{{image}}" alt="Photo du musée">
                    <div class="caption">
                        <h1 class="nom-musee">{{nom_musee}}</h1>
                        <h2 class="ville-musee">{{ville}}</h2>
                    </div>
                </div>
        </section>
        <section class="col-md-6 da-buttons">
            <div class="col-xs-4 col-md-4">
                <button id="boutondislike" class="button1" data-id="{{id}}"><img class="red-cross" src="assets/img/red_cross.svg" alt="Bouton Dislike"></button>
            </div>

            <div class="col-xs-4 col-md-4">
                <a href="{{URL}}favoris/">
                  <button id="boutonfav" class="button3">
                    <img class="yellow-star" src="assets/img/favoris_star.svg" alt="Bouton Favoris"></button>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <button id="boutonlike" class="button2" data-id="{{id}}"><img class="green-heart" src="assets/img/green_heart.svg" alt="Bouton Like"></button>
            </div>
        </section>

      </div>


      <div class="col-xs-12 col-md-6 hidden-md-down">
        <section>
           {{nom_region}}
           {{nom_dep}}
           {{nom_musee}}
           {{adr}}
           {{cp}}
           {{ville}}
        </section>
      </div>
