{{>header}}
<link rel="stylesheet" href="{{URL}}assets/css/museefav.css">


<main class="container">
  <div class="row">
    <div class="col-xs-12 col-md-5">
      <div class="thumbnail">
        <img src="{{image}}" alt="thumbnail du musee">
      </div>
    </div>
      <div class="details col-xs-12 col-md-7">
        <h2>{{nom_musee}}</h2>
        <address>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i>{{ville}}</p>
          <p><i class="fa fa-building-o" aria-hidden="true"></i><a href="{{adr}}">{{adr}}</a></p>
          <p><i class="fa fa-clock-o" aria-hidden="true"></i>{{periode_ouverture}}</p>
          <p><i class="fa fa-globe" aria-hidden="true"></i><a href="{{site_web}}" target='_blank'></a>{{site_web}}</p>
          <p><i class="fa fa-moon-o" aria-hidden="true"></i>{{jour_nocturne}}</p>
          <p><i class="fa fa-times" aria-hidden="true"></i>{{fermeture_annuelle}}</p>
        </address>
      </div>
  </div>
      <div class="row">
          <p class="col-xs-12 description">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
              {{description}}
          </p>
      </div>
</main>


</body>
</html>
