@font-face {
  font-family: "candara";
  src: url('../fonts/candara.ttf');
}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
main {
  margin-top: 10%;
}

.details p{
  font-size: 2em;
  text-align: justify;
  font-weight: lighter;
}
.description {
  font-size: 2em;
  text-align: justify;
}
.ourteam{
  text-align: center;
}
.ourteam figure figcaption img{
  margin-bottom: 12%;
}
