@font-face {
    font-family: harlow;
    src: url(../fonts/harlow.ttf);
}

@font-face {
    font-family: candara;
    src: url(../fonts/candara.ttf);
}


/*BURGER MENU CSS*/

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-250px, 0, 0);
        transform: translate3d(-250px, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-250px, 0, 0);
        transform: translate3d(-250px, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideOutLeft {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-250px, 0, 0);
        transform: translate3d(-250px, 0, 0);
        visibility: hidden;
    }
}

@keyframes slideOutLeft {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-250px, 0, 0);
        transform: translate3d(-250px, 0, 0);
        visibility: hidden;
    }
}

.burger-font {
    font-family: candara;
}

.burger-choices1 {
    font-size: 500%;
}

.burger-choices2 {
    font-size: 500%;
}

.burger-choices3 {
    font-size: 500%;
}

.b-nav {
    width: 100%;
    position: absolute;
    z-index: 11;
}

.b-nav:not(.open) {
    visibility: hidden;
}

.b-nav li {
    color: #444444;
    list-style-type: none;
    padding: 10px;
    text-align: left;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
}

.b-nav li:not(.open) {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}

.b-nav li:first-child {
    padding-top: 30%;
}

.b-nav.open {
    visibility: visible;
}

.b-nav.open li {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

.b-link:focus, .b-link:hover {
    color: #c1272d;
}

.b-link {
    background: transparent;
    border-left: rgba(68, 68, 68, 0) solid 2px;
    color: #444444;
    font-family: candara;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.b-menu {
    background: white;
    border: white solid 2px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    padding-left: 15.5px;
    padding-top: 29px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80px;
    z-index: 12;
}

.b-menu:hover {
    border: #444444 solid 2px;
}

.b-bun {
    background: #444444;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.b-bun--top {
    height: 2px;
    width: 45px;
}

.b-bun--mid {
    height: 2px;
    top: 7px;
    width: 45px;
}

.b-bun--bottom {
    height: 2px;
    top: 14px;
    width: 45px;
}

.b-container {
    height: 60px;
    left: 30px;
    position: absolute;
    top: 40px;
}

.b-container:hover:not(.open) .bun-top, .b-container:hover:not(.open) .bun-mid, .b-container:hover:not(.open) .bun-bottom {
    background: white;
}

.b-container.open .b-main {
    border: #444444 solid 2px;
}

.b-container.open .b-bun--top {
    background: #444444;
    top: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.b-container.open .b-bun--mid {
    opacity: 0;
}

.b-container.open .b-bun--bottom {
    background: #444444;
    top: 5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.b-container.open .b-brand {
    color: #444444;
}


/*END*/


/*NORMAL CSS*/

.site-title {
    margin-top: 3%;
    margin-left: 35%;
    margin-right: 15%;
    width: 30%;
}
